{% load static %}

<footer class="main-footer">
    <div class="container clearfix">
        <section class="footer-contacts">            
            Барбершоп Бородинский<br>
            Адрес: г. Санкт-Петербург, ул. Конюшенная, д. 19/8<br>
            <a href="#">Как нас найти?</a><br>
            Телефон: +7 (495) 666-02-66            
        </section>
        <section class="footer-social">
            <p>Давайте дружить!</p>
            <a class="social-btn social-btn-vk" href="#">Вконтакте</a>
            <a class="social-btn social-btn-fb" href="#">Фейсбук</a>
            <a class="social-btn social-btn-inst" href="#">Инстаграм</a>
        </section>
        <section class="footer-copyright">
            <p>Разработано:</p>
            <a class="btn" href="https://htmlacademy.ru">HTML Academy</a>

        </section>
    </div>
</footer>