<ul class="pagination">
    {% if paginator.num_pages > 1 %}
        {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
                <li class="current"><span>{{ p }}</span></li>
            {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                {% if not path_parameters %}
                    <li><a href="?page={{ p }}">{{ p }}</a></li>
                {% else %}
                    <li><a href="?{{ path_parameters }}&page={{ p }}">{{ p }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>
