{% extends 'barber_app/barber_base.html' %}
{% load static %}

{% block title %}
	Новости - {{ block.super }}
{% endblock %}

{% block bodyclass%}
	class="inner-page"
{% endblock %}


{% block content %} 
    <h1 class="inner-page-title">
        Новости      
    </h1>
    <ul class="breadcrumbs">        
        <li><a href="{% url 'main_page_url' %}">Главная</a></li>
        <li class="current">Новости</li>        
    </ul>

    <div class="inner-content">
        <div class="big-heading">
            <h2>Читай, пока стрижем!</h2>
        </div>  

		
		<div class="inner-columns clearfix">
			<h2>{{ past_news.title }}</h2>
			<h4>{{ past_news.date }}</h4>
			<p class="short-text">{{ past_news.body|truncatewords:30|safe }}</p>	
			<a href="{{ past_news.get_absolute_url }}" class="btn">Полный текст</a>			
		</div>
		
		
		<div class="inner-columns clearfix">
			{% for lnews, rnews in zip_news %}
				<div class="inner-columns-left">
					<h2>{{ lnews.title }}</h2>
					<h4>{{ lnews.date }}</h4>
					<p class="short-text"> {{ lnews.body|truncatechars:100 }}</p>
					<a href="{{ lnews.get_absolute_url }}" class="btn">Полный текст</a>
				</div>			
				<div class="inner-columns-right">
					<h2>{{ rnews.title }}</h2>
					<h4>{{ rnews.date }}</h4>
					<p class="short-text"> {{ rnews.body|truncatechars:100 }}</p>
					<a href="{{ rnews.get_absolute_url }}" class="btn">Полный текст</a>
				</div>								
			{% endfor %}   
			{% if first_news %}
				<div class="inner-columns-left">
					<h2>{{ first_news.title }}</h2>
					<h4>{{ first_news.date }}</h4>
					<p class="short-text"> {{ first_news.body|truncatechars:100 }}</p>
					<a href="{{ first_news.get_absolute_url }}" class="btn">Полный текст</a>
				</div>	
			{% endif %}
        </div>	
		
					
     
		
    </div>    
{% endblock %}
