{% extends 'barber_app/barber_base.html' %}

{% block title %}
	Оформление заказа - {{ block.super }}
{% endblock %}

{% block bodyclass %}
	class="inner-page"
{% endblock %}

{% block content %}
	<h1>Оформление заказа</h1>
	
	<ul class="breadcrumbs">
        <li><a href="{% url 'main_page_url' %}">Главная</a></li>
        <li><a href="{% url 'shop_page_url' %}">Магазин</a></li>
        <li><a href="{% url 'cart_detail' %}">Корзина</a></li>
        <li class="current">Оформление заказа</li>
    </ul>
	
	<div class="order-info">
		<h3>Ваш заказ</h3>
		<ul>
			{% for item in cart %}
				<li>
				{{ item.quantity }} x {{ item.good.name }}
				<span>{{ item.total_price }} РУБ.</span>
				</li>
			{% endfor %}
		</ul>
		<p>ИТОГО: {{ cart.get_total_price }} РУБ.</p>
	</div>
	
	<form action="." method="post" class="order-form">
		{{ order_create_form.as_table }}
		<p><input class='btn' type="submit" value="Оформить"></p>
		{% csrf_token %}
	</form>
{% endblock %}