{% extends 'base.html' %}
{% load static %}

{% block title %}
	Восстановление пароля - {{ block.super }}
{% endblock %}

{% block bodyclass %}
	class="inner-page"
{% endblock %}

{% block content %}
	{% if validlink %}
		<p>Введите новый пароль:</p>
		<form class="login-form" action="." method="post">
		{{ form.as_p }}
		{% csrf_token %}
		<p style="width:300px"><input class="btn" type="submit" value="Изменить пароль" /></p>
		</form>
	{% else %}
		<p>Ссылка для сброса пароля недействительна, возможно, она уже была использована. 
		Пожалуйста, снова запросите сброс пароля.</p>
	{% endif %}
{% endblock %}





