{% extends 'base.html' %}
{% load static %}

{% block title %}
	Восстановление пароля - {{ block.super }}
{% endblock %}

{% block bodyclass %}
	class="inner-page"
{% endblock %}

{% block content %}
<div style="width:300px">
	<h1>Забыли пароль?</h1>
	<p>Введите ваш e-mail для получения нового пароля.</p>
	<form class="login-form" action="." method="post">
		{{ form.as_p }}
		<p><input class ="btn" type="submit" value="Отправить на e-mail"></p>
		{% csrf_token %}
	</form>
<div>
{% endblock %}


