{% extends 'base.html' %}
{% load static %}

{% block title %}
	Изменение вашего пароля - {{ block.super }}
{% endblock %}

{% block bodyclass %}
	class="inner-page"
{% endblock %}

{% block content %}
<div class="login-form">
	<h1>Изменение вашего пароля</h1>
	
	<ul class="breadcrumbs">
        <li><a href="{% url 'main_page' %}">Главная</a></li>
        <li><a href="{% url 'dashboard' %}">Личный кабинет</a></li>
        <li class="current">Изменение пароля</li>
    </ul>
	
	</br>
	<p>Используйте форму ниже для смены вашего пароля.</p>
	<form action="." method="post">
		{{ form.as_p }}
		<p style="width:300px"><input class="btn" type="submit" value="Изменить"></p>
		{% csrf_token %}
	</form>	
</div>
{% endblock %}